<footer style="margin-left: 05px;">
        <div class="mdc-layout-grid ">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4">
              <span class="text-muted">Copyright © 2018 <a class="text-green" href="https://www.zaroosolution.com/" target="_blank">Zaroo Co. </a>. All rights reserved.</span>
            </div>
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4 d-flex justify-content-end">
              <span class="mt-0 text-right">  made with taha shweiki<i class="mdi mdi-heart text-red"></i></span>
            </div>
          </div>
        </div>
      </footer>
